#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.table-container {
  position: relative; /* Make the container a positioned element */
  display: inline-block; /* Adjust as needed */
}

.overlay-span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7); /* Optional: Add a background color */
  padding: 5px; /* Optional: Add some padding */
  z-index: 1; /* Ensure the span is on top */
}

table {
  border-collapse: collapse;
  width: 100%;
}

.salary-blur {
  filter: blur(5px);
  pointer-events: none;
  user-select: none; /* Optional: prevents text selection */
  /* Optional: if the element is a link, you might want to also remove the cursor change */
  cursor: default;
}

.salary-highlight {
  background-color: yellow;
}

.locked-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
}
